<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>AppServerMigration-Report</title>
    <link href="./lib/bootstrap.min.css" rel="stylesheet" />
    <link href="./lib/prism.css" rel="stylesheet" />
    <link href="./lib/custom.css" rel="stylesheet" />
    <script src="./lib/beautify.min.js"></script>
    <script src="./lib/chart.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
        <div class="container d-flex flex-row align-items-end mb-2 mt-3">
            <div class="w-75">
                <h1 class="m-0 m-0 text-dark">Application Migration Estimates</h1>
            </div>
            <div class="w-25">
                <p class="m-0 p-0 text-end" th:text="'Date: ' + ${date} + ''" />
            </div>
        </div>
    </nav>
    <div class="container mt-4 mb-2">
        <div class="row">
            <div class="col-12">
                <p>
                    This report provides estimates in person-hours based on the complexity and size of the project.
                    Complexity is defined in 3 categories. The categories are Minor, Major and Critical. Minor category
                    does not
                    involve any code changes. The changes could be in the properties file or in the folder structure to
                    make it work
                    on the target server. Major category involves changes in dependencies like up-gradation or
                    down-gradation of jar
                    files, involves minor code changes to make it compatible with the target server. Critical category
                    involves
                    major code changes. There might be features specific to the source server which are not supported on
                    the target
                    server. In such cases, the whole functionality needs to be re-written. Such categories fall under
                    critical
                    complexity.
                </p>
            </div>
        </div>
    </div>
    <div class="bg-secondary-subtle shadow">
        <div class="container">
            <div class="row">
                <div class="col-3 pt-3">
                    <h4 class="text-dark-50">Summary</h4>
                    <div class="d-flex flex-row align-items-end pt-1 pb-1">
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0">Total Files</h6>
                        </div>
                        <div class="w-50">
                            <h5 class="text-dark m-0 p-0 text-end" th:text="${totalfiles}">
                            </h5>
                        </div>
                    </div>
                    <hr class="m-0 p-0 text-dark" />
                    <div class="d-flex flex-row align-items-end pt-1 pb-1">
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0">Lines of code</h6>
                        </div>
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0 text-end" th:text="${totalLOC}">
                            </h6>
                        </div>
                    </div>
                    <hr class="m-0 p-0 text-dark" />
                    <div class="d-flex flex-row align-items-end pt-1 pb-1">
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0">Total File CHanges</h6>
                        </div>
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0 text-end" th:text="${totalFileChanges}">
                            </h6>
                        </div>
                    </div>
                    <hr class="m-0 p-0 text-dark" />
                    <div class="d-flex flex-row align-items-end pt-1 pb-1">
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0">Total Changes</h6>
                        </div>
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0 text-end" th:text="${totalchanges}">
                            </h6>
                        </div>
                    </div>
                    <hr class="m-0 p-0 text-dark" />
                    <div class="d-flex flex-row align-items-end pt-1 pb-1">
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0">Severity</h6>
                        </div>
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0 text-end">
                                <span class="badge text-bg-warning"
                                    th:classappend="${isDanger} ? badge-danger : badge-warning"
                                    th:text="${complexity}"></span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-center p-5 pl-0 pt-4 pb-4 pr-0">
                    <h6>Languages</h6>
                    <canvas id="myPieChart" width="380" height="240"></canvas>
                </div>
                <div class="col-3">
                    <div class="d-flex flex-column h-100 justify-content-center align-items-center">
                        <h5 class="text-dark m-0 p-0 pr-2">Person Days</h5>
                        <h1 class="text-dark m-0 p-0 pl-2" th:text="${totalmhrs}"></h1>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid bg-secondary-subtle border-white border-0 border-top">
        <div class="container">
            <div class="row">
                <div class="col-12 pt-2 pb-2">
                    <div th:if="${inlineSQLReport != null}">
                        <a href="In-line SQL Report" th:href="@{|//${inlineSQLReport}|}">SQL report</a>
                    </div>
                    <div th:if="${inlineSQLReport == null}">
                        No SQL report to show
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-secondary">
        <div class="row">
            <div class="col-6 text-center" style="border-right: 1px solid #efefef">
                <h6 class="text-white p-0 m-0 pt-2 pb-2">Existing Code</h6>
            </div>
            <div class="col-6 text-center">
                <h6 class="text-white p-0 m-0 pt-2 pb-2">Recommendation(s)</h6>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-info-subtle" th:each="recommendation : ${recommendations}">
        <div class="row">
            <div class="col-3 pl-2 pt-1 pb-1">Files: <strong th:text="${recommendation.totalFiles}"></strong></div>
            <div class="col-3 pt-1 pb-1">Total Changes: <strong th:text="${recommendation.totalChanges}"></strong></div>
        </div>
    </div>

    <div class="container-fluid" th:each="recommendation : ${recommendations}">
        <div class="row">
            <div class="col-6" style="border-right: 1px solid #efefef">
                <div id="wrapper" class="container mb-2" th:each="change: ${recommendation.changes}">
                    <div class="row">
                        <div class="col-12 mt-3">
                            <p class="p-0 text-secondary m-0 file-name" th:text="${change.key}">
                            </p>
                        </div>
                    </div>
                    <div class="row" th:each="plan: ${change.value}">
                        <div class="col-12">
                            <div class="d-flex flex-row" th:each="cmd: ${plan.deletion}">
                                <div th:if="${cmd.lineNumber != null}" class="text-dark d-flex pt-1"
                                    style="min-width: 40px">
                                    <small th:text="${cmd.lineNumber}"></small>
                                </div>
                                <div class="flex-fill">
                                    <pre><code class="text-dark p-0" th:classappend="${cmd.language}" th:text="${cmd.statement}" style="white-space: pre-line; font-size: 14px;" ></code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row mr-0 h-100">
                    <div class="col-1 text-dark p-0"></div>
                    <div class="col-11 p-0 d-flex">
                        <div>
                            <p class="mt-2 mb-2"><span th:utext="${recommendation.name}"></span></p>
                            <hr class="row" />
                            <p class="mb-3"><span th:utext="${recommendation.description}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script th:inline="javascript">
        /*<![CDATA[*/
        var _types = /*[[${fileCount}]]*/[];
        /*]]>*/
        console.log("message", _types)

        var data = {
            labels: Object.keys(_types),
            datasets: [
                {
                    data: Object.values(_types),
                    backgroundColor: [
                        "#0c6efd",
                        "#198754",
                        "#dc3546",
                        "#ffc107",
                        "#0fcaf0",
                        "#6c757d",
                        "#ffffff",
                    ],
                },
            ],
        }

        console.log("data", data)
        // Get the context of the canvas element
        var ctx = document.getElementById("myPieChart").getContext("2d")
        // Create a pie chart
        var myPieChart = new Chart(ctx, {
            type: "pie",
            data: data,
            options: {
                plugins: {
                    title: {
                        display: false,
                        text: 'Languages',
                        align: 'start',
                    },
                    legend: {
                        display: true,
                        position: "right",
                        labels: {
                            usePointStyle: false,
                            fontSize: 16,

                            generateLabels: function (chart) {
                                var data = chart.data;
                                if (data.labels.length && data.datasets.length) {
                                    return data.labels.map(function (label, i) {
                                        var meta = chart.getDatasetMeta(0);
                                        var ds = data.datasets[0];
                                        var currentValue = ds.data[i];
                                        var percentage = parseFloat((currentValue / ds.data.reduce((acc, val) => acc + val, 0) * 100).toFixed(1));
                                        return {
                                            text: label + ': ' + currentValue + ' (' + percentage + '%)',
                                            fillStyle: ds.backgroundColor[i],
                                            hidden: meta.data[i].hidden,
                                            index: i
                                        };
                                    });
                                }
                                return [];
                            }
                        }
                    },
                },
                responsive: false,
                maintainAspectRatio: false,
            },
        })
    </script>
    <script src="./lib/index.js"></script>
    <script src="./lib/prism.js"></script>
</body>

</html>