<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>AppServerMigration-SQL-Report</title>
    <link href="./lib/bootstrap.min.css" rel="stylesheet" />
    <link href="./lib/prism.css" rel="stylesheet" />
    <link href="./lib/custom.css" rel="stylesheet" />
    <script src="./lib/beautify.min.js"></script>
    <script src="./lib/chart.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
        <div class="container d-flex flex-row align-items-end mb-2 mt-3">
            <div class="w-75">
                <h1 class="m-0 m-0 text-dark">Application Migration Estimates</h1>
                <p class="m-0 p-0">(in-line SQL changes)</p>
            </div>
            <div class="w-25">
                <p class="m-0 p-0 text-end" th:text="'Date: ' + ${date} + ''" />
            </div>
        </div>
    </nav>
    <div class="container mt-4 mb-2">
        <div class="row">
            <div class="col-12">
                <p>
                    This report provides estimates in person-hours based on the in-line
                    SQL statements and their complexities.
                </p>
            </div>
        </div>
    </div>
    <div class="bg-secondary-subtle shadow">
        <div class="container">
            <div class="row">
                <div class="col-3 pt-3 pb-3">
                    <h4 class="text-dark-50">Summary</h4>
                    <div class="d-flex flex-row align-items-end pt-1 pb-1">
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0">SQL Statements</h6>
                        </div>
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0 text-end" th:text="${totalSQLStatements}"></h6>
                        </div>
                    </div>
                    <hr class="m-0 p-0 text-dark" />
                    <div class="d-flex flex-row align-items-end pt-1 pb-1">
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0">select</h6>
                        </div>
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0 text-end">
                                <span class="badge text-bg-primary" th:text="${totalSelectStatements}"></span>
                            </h6>
                        </div>
                    </div>
                    <hr class="m-0 p-0 text-dark" />
                    <div class="d-flex flex-row align-items-end pt-1 pb-1">
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0">create</h6>
                        </div>
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0 text-end">
                                <span class="badge text-bg-success" th:text="${totalCreateStatements}"></span>
                            </h6>
                        </div>
                    </div>
                    <hr class="m-0 p-0 text-dark" />
                    <div class="d-flex flex-row align-items-end pt- pb-1">
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0">delete</h6>
                        </div>
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0 text-end">
                                <span class="badge text-bg-danger" th:text="${totalDeleteStatements}"></span>
                            </h6>
                        </div>
                    </div>
                    <hr class="m-0 p-0 text-dark" />
                    <div class="d-flex flex-row align-items-end pt-1 pb-1">
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0">update</h6>
                        </div>
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0 text-end">
                                <span class="badge text-bg-warning" th:text="${totalUpdateStatements}"></span>
                            </h6>
                        </div>
                    </div>
                    <hr class="m-0 p-0 text-dark" />
                    <div class="d-flex flex-row align-items-end pt-1 pb-1">
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0">insert</h6>
                        </div>
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0 text-end">
                                <span class="badge text-bg-info" th:text="${totalInsertStatements}"></span>
                            </h6>
                        </div>
                    </div>
                    <hr class="m-0 p-0 text-dark" />
                    <div class="d-flex flex-row align-items-end pt-1 pb-1">
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0">merge</h6>
                        </div>
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0 text-end">
                                <span class="badge text-bg-secondary" th:text="${totalMergeStatements}"></span>
                            </h6>
                        </div>
                    </div>
                    <hr class="m-0 p-0 text-dark" />
                    <div class="d-flex flex-row align-items-end pt-1 pb-1">
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0">drop</h6>
                        </div>
                        <div class="w-50">
                            <h6 class="text-dark m-0 p-0 text-end">
                                <span class="badge text-bg-light" th:text="${totalDropStatements}"></strong></span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-4 d-flex align-items-center justify-content-center">
                    <canvas id="myPieChart" width="" height="220"></canvas>
                </div>
                <div class="col-4">
                    <div class="d-flex flex-column h-100 justify-content-center align-items-center">
                        <h6 class="text-dark m-0 p-0 pr-2">Person Days</h6>
                        <h1 class="text-dark m-0 p-0 pl-2" th:text="${totalmhrs}"></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-secondary">
        <div class="row">
            <div class="col-6 text-center" style="border-right: 1px solid #efefef">
                <h6 class="text-white p-0 m-0 pt-2 pb-2">Existing Code</h6>
            </div>
            <div class="col-6 text-center">
                <h6 class="text-white p-0 m-0 pt-2 pb-2">Recommendation(s)</h6>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-info-subtle" th:each="recommendation : ${recommendations}">
        <div class="row">
            <div class="col-3 pl-2 pt-1 pb-1">Files: <strong th:text="${recommendation.totalFiles}"></strong></div>
            <div class="col-3 pt-1 pb-1">Total Changes: <strong th:text="${recommendation.totalChanges}"></strong></div>
        </div>
    </div>

    <div class="container-fluid" th:each="recommendation : ${recommendations}">
        <div class="row">
            <div class="col-6" style="border-right: 1px solid #efefef">
                <div id="wrapper" class="container mb-2" th:each="change: ${recommendation.changes}">
                    <div class="row">
                        <div class="col-12 mt-3">
                            <p class="p-0 text-secondary m-0 file-name" th:text="${change.key}">
                            </p>
                        </div>
                    </div>
                    <div class="row" th:each="plan: ${change.value}">
                        <div class="col-12" th:if="${plan.modifications!=null and !plan.modifications.isEmpty()}">
                            <div class="d-flex flex-row" th:each="mp: ${plan.modifications}">
                                <div th:if="${mp.key.lineNumber != null}" class="text-dark d-flex pt-1"
                                    style="min-width: 40px">
                                    <small th:text="${mp.key.lineNumber}"></small>
                                </div>
                                <div class="flex-fill">
                                    <pre><code class="text-dark p-0" th:classappend="${mp.key.language}"
                      th:text="${mp.key.statement}" style="white-space: pre-line; font-size: 14px;"></code></pre>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" th:if="${plan.deletion!=null and !plan.deletion.isEmpty()}">
                            <div class="d-flex flex-row" th:each="cmd: ${plan.deletion}">
                                <div th:if="${cmd.lineNumber != null}" class="text-dark d-flex pt-1"
                                    style="min-width: 40px">
                                    <small th:text="${cmd.lineNumber}"></small>
                                </div>
                                <div class="flex-fill">
                                    <pre><code class="text-dark p-0" th:classappend="${cmd.language}"
                      th:text="${cmd.statement}" style="white-space: pre-line; font-size: 14px;" ></code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row mr-0 h-100">
                    <div class="col-1 text-dark p-0"></div>
                    <div class="col-11 p-0 d-flex">
                        <div>
                            <p class="mt-2 mb-2"><span th:utext="${recommendation.name}"></span></p>
                            <hr class="row" />
                            <p class="mb-3"><span th:utext="${recommendation.description}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script th:inline="javascript">
        /*<![CDATA[*/
        var _select = parseInt(/*[[${totalSelectStatements}]]*/ '0');
        var _create = parseInt(/*[[${totalCreateStatements}]]*/ '0');
        var _delete = parseInt(/*[[${totalDeleteStatements}]]*/ '0');
        var _update = parseInt(/*[[${totalUpdateStatements}]]*/ '0');
        var _insert = parseInt(/*[[${totalInsertStatements}]]*/ '0');
        var _merge = parseInt(/*[[${totalMergeStatements}]]*/ '0');
        var _drop = parseInt(/*[[${totalDropStatements}]]*/ '0');
        /*]]>*/

        var data = {
            labels: [
                "Select",
                "Create",
                "Delete",
                "Update",
                "Insert",
                "Merge",
                "Drop",
            ],
            datasets: [
                {
                    data: [_select, _create, _delete, _update, _insert, _merge, _drop],
                    backgroundColor: [
                        "#0c6efd",
                        "#198754",
                        "#dc3546",
                        "#ffc107",
                        "#0fcaf0",
                        "#6c757d",
                        "#ffffff",
                    ],
                },
            ],
        }
        // Get the context of the canvas element
        var ctx = document.getElementById("myPieChart").getContext("2d")
        // Create a pie chart
        var myPieChart = new Chart(ctx, {
            type: "pie",
            data: data,
            options: {
                plugins: {
                    legend: {
                        display: false,
                        position: "right",
                    },
                },
                responsive: false,
                maintainAspectRatio: false,
            },
        })
    </script>
    <script src="./lib/index.js"></script>
    <script src="./lib/prism.js"></script>
</body>

</html>